<%- include("header") -%>


    <section>
        <div class="container-fluid emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="caspar.png" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                Caspar Cheng
                            </h5>
                            <h6>
                                Software Developer
                            </h6>
                            <p class="proile-rating">PASSION: <span>9.9/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                        aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>More Info</p>
                            <a href="https://www.linkedin.com/in/caspar-cheng-945a661a5/">LinkedIn</a><br />
                            <a href="https://github.com/Caspar-Cheng">GitHub</a><br />
                            <a href="#">Portfolio</a>
                            <p>Skills</p>
                            <a href="">HTML. CSS, JavaScript</a><br />
                            <a href="">Python, C#</a><br />
                            <a href="">MySQL, MangoDB</a><br />
                            <a href="">React, node.js</a><br />
                            <a href="">WordPress, PHP</a><br />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Caspar Cheng</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>+61 432 500 916</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>casparcheng@outlook.com</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Education</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Master's in Computer Science(QUT)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Language</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Mandarin Native;<br>
                                        Fluent in English(IELTS 7 avg.)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Certification</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            Programmer Skill Assessment;<br>
                                            Certificate IV in Business;<br>
                                            Australian Open Driver License
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>one year</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>50+</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>ASAP</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Career Objective</label><br />
                                    </div>
                                    <div class="col-md-6">
                                        <p>Working as a front-end developer and aiming to become a full-stack developer in five years.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Latest Profession</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            Web Designer Contractor at Fedelta(Nov-Jan 2021)<br>
                                            Software Developer Intern at Lightmare Studios(Aug-Nov 2020)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </section>


    <%- include("footer") -%>