<%- include("header") -%>


    <section class="contact pt-100 pb-100" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 mx-auto text-center">
                    <div class="section-title mb-100">
                        <p>get in touch</p>
                        <h4>contact me</h4>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-8">
                    <form method="post" action="mailto:caspar160423@gmail.com?subject=subject&message=message+name+email+telephone" class="contact-form" id="conect-form">
                        <div class="row">
                            <div class="col-xl-6">
                                <input type="text" id="name" placeholder="name">
                            </div>
                            <div class="col-xl-6">
                                <input type="text" id="email" placeholder="email">
                            </div>
                            <div class="col-xl-6">
                                <input type="text" id="subject" placeholder="subject">
                            </div>
                            <div class="col-xl-6">
                                <input type="text" id="telephone" placeholder="telephone">
                            </div>
                            <div class="col-xl-12">
                                <textarea id="message" placeholder="message" cols="30" rows="10"></textarea>
                                <input type="submit" id="submit" value="get connected">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="single-contact">
                        <i class="fa fa-map-marker"></i>
                        <h5>Address</h5>
                        <p>Pineland, Brisbane, QLD</p>
                    </div>
                    <div class="single-contact">
                        <i class="fa fa-phone"></i>
                        <h5>Phone</h5>
                        <p>(+61) 432 500 916</p>
                    </div>
                    <div class="single-contact">
                        <i class="fa fa-envelope"></i>
                        <h5>Email</h5>
                        <p>casparcheng@outlook.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>