</body>
<div class="bottom-container">
    <div class="links">
      <a class="footer-link" href="https://www.linkedin.com/in/caspar-cheng-945a661a5/">LinkedIn</a>
      <a class="footer-link" href="https://github.com/Caspar-Cheng">Github</a>
    </div>

    <p class="copy-right">© 2021 by Caspar Cheng &#10084</p>
</div>