<%- include("header") -%>

  <div class="container-fluid">
    <div class="row greetingSection">
      <div class="col-lg-5 greetingText">
        <h1>Heya~</h1>
        <h1>I'm Caspar</h1>
        <h2>A Software Developer.</h2>
      </div>
      <div class="col-lg-6 greetingPic">
        <img class="profilePic1" src="caspar.png" />
      </div>
    </div>
  </div>
  <section>
    <div class="middle-container">
      <div class="row">
        <div class="col-lg-12">

          <p class="hello-description">
            Hi, I'm a software developer passionate on coding and of course watching movies.
          </p>
          <p class="contactText">
            Please feel free to connect if there is anything I can help with.
          </p>
          <img class="profilePic2 img-fluid" src="caspar.png" alt="cartoon-selfie" />
          <a class="contectBtn btn btn-secondary btn-md" href="/contact">CONTACT ME</a>
        </div>
      </div>
    </div>
  </section>


  <%- include("footer") -%>