<%- include("header") -%>


    <main class="projectsSection">
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h3><a class="featurette-heading" href="https://github.com/Caspar-Cheng/Bootcamp-Web-dev-prac-1">Simon
                        Game</a></h3>
                <p class="lead">A famous game on training memory by click on the flashed button in order, each level
                    will accumulate on the previous actions.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto"
                    src="https://user-images.githubusercontent.com/52498280/105678024-60192500-5f38-11eb-9aeb-ad98d2026a14.gif"
                    alt="Simon Game">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3><a class="featurette-heading" href="https://github.com/Caspar-Cheng/Bootcamp-Web-dev-prac-1">Drum
                        Kit</a></h3>
                <p class="lead">Connected with keyboard and mouse to click the instruments' pictures and make a
                    simple song.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto"
                    src="https://user-images.githubusercontent.com/52498280/105678019-5f808e80-5f38-11eb-9a67-1e6964bc2d5e.gif"
                    alt="Drum Kit">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h3><a class="featurette-heading"
                        href="https://github.com/Caspar-Cheng/Bootcamp-Online-Blog-webpage">Blog
                        Website</a></h3>
                <p class="lead">This is a real online website connected with mongoose database and alive via Heroku.
                    It allows user to write blogs and then presented inside Home page.<a
                        href="https://glacial-shore-92386.herokuapp.com/">CLICK to Website address.</a></p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto"
                    src="https://user-images.githubusercontent.com/52498280/105678042-63141580-5f38-11eb-9948-a75e37e0df96.gif"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3><a class="featurette-heading" href="https://github.com/Caspar-Cheng/Bootcamp-Todolist-online">Online
                        To Do List
                        Website</a></h3>
                <p class="lead">This is a real online website connected with MangoDB Atlas database and alive via
                    Heroku. It allows user to add and check finished to-do items, also open to create other lists
                    under different categories or names just by typing name after the URL.<a
                        href="https://sheltered-lake-08507.herokuapp.com/">CLICK to Website address</a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto"
                    src="https://user-images.githubusercontent.com/52498280/105678093-79ba6c80-5f38-11eb-9237-b3df50b371ac.gif"
                    alt="Online to-do list">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h3><a class="featurette-heading"
                        href="https://github.com/Caspar-Cheng/Bootcamp-Web-dev-prac-2">Newsletter Sign Up</a></h3>
                <p class="lead">A real website, it can collect the user's sign up info and return to creator's
                    mailchimp account, which allows users to sign up for email newsletters.<a
                        href="https://fierce-sea-13675.herokuapp.com/">CLICK to Website address</a></p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto"
                    src="https://user-images.githubusercontent.com/52498280/105680890-1df1e280-5f3c-11eb-9d67-bf450c5bef3f.gif"
                    alt="Newsletter signup">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3><a class="featurette-heading" href="https://github.com/Caspar-Cheng/FrontEnd-Toggle-Pricing">Pricing
                        Toggle</a></h3>
                <p class="lead">A front end webpage development practice on price toggle.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto"
                    src="https://user-images.githubusercontent.com/52498280/105678109-7de68a00-5f38-11eb-8438-ab4d29fdad40.gif"
                    alt="Pricing Toggle">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h3><a class="featurette-heading" href="https://github.com/Caspar-Cheng/FrontEnd-Theme-Switcher">Theme
                        Switcher</a>
                </h3>
                <p class="lead">A front end webpage development practice on changing page theme between light and
                    dark.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto"
                    src="https://user-images.githubusercontent.com/52498280/105678103-7cb55d00-5f38-11eb-9853-8fd812a91259.gif"
                    alt="Theme switcher">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3><a class="featurette-heading" href="https://github.com/Caspar-Cheng/FrontEnd-insure-web-page">Insure
                        Webpage</a>
                </h3>
                <p class="lead">A front end webpage project on creating webpage and suitable layouts.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto"
                    src="https://user-images.githubusercontent.com/52498280/105678116-7fb04d80-5f38-11eb-919f-b8f6f0133ac2.gif"
                    alt="Insure Webpage">
            </div>
        </div>

        <!-- /END THE FEATURETTES -->

        </div>


        <%- include("footer") -%>