<%- include("header") -%>


  <main class="projectsSection">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-6">
        <h3><a class="featurette-heading"
            href="https://github.com/Caspar-Cheng/Python-intermediate-projects-collection-1">Classic Snake Eating
            Game</a></h3>
        <p class="lead">Classic snake game, with highest score record and it still exist after the program is
          reruning. </p>
      </div>
      <div class="col-md-6">
        <img class="featurette-image img-fluid mx-auto"
          src="https://user-images.githubusercontent.com/52498280/104828995-df648400-58ba-11eb-85d5-63925c2fe875.gif"
          alt="Classic Snake Game">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h3><a class="featurette-heading"
            href="https://github.com/Caspar-Cheng/Python-intermediate-projects-collection-1">Watch Out When
            Crossing!</a></h3>
        <p class="lead">Turtle crossing road game, randomly generated obstacles will speed up after each time the
          turtle arriving at the destination and upgrading game level.</p>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
          src="https://user-images.githubusercontent.com/52498280/104828951-66fdc300-58ba-11eb-8260-a50335c01890.gif"
          alt="Cross the Road">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6">
        <h3><a class="featurette-heading"
            href="https://github.com/Caspar-Cheng/Python-intermediate-projects-collection-1">Pong Game</a></h3>
        <p class="lead">Classic double players beat ball game, automatically count scores and restart from center to
          last winner side, moving speed increase on each score up!</p>
      </div>
      <div class="col-md-6">
        <img class="featurette-image img-fluid mx-auto"
          src="https://user-images.githubusercontent.com/52498280/104828550-5fd4b600-58b6-11eb-903c-0cb31c1928ca.gif"
          alt="Pong Game">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h3><a class="featurette-heading"
            href="https://github.com/Caspar-Cheng/Python-intermediate-projects-collection-1">Pomodoro Timer</a></h3>
        <p class="lead">Handy tool as tomato timer, once click start, it will count four rounds on 25 mins for working
          and 5 mins for short break. A long break on 20 mins will come after those four rounds' finishing. Reminder
          info will pop up as alert window to reminder user when is the time to work or break.</p>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
          src="https://user-images.githubusercontent.com/52498280/104876480-7efd4180-59a3-11eb-88de-09a5e01fe4f7.gif"
          alt="Pomodoro Timer">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6">
        <h3><a class="featurette-heading"
            href="https://github.com/Caspar-Cheng/Python-intermediate-projects-collection-2">Kanye Quote</a></h3>
        <p class="lead">The usage of GUI window combined with Knaye API, enjoy a small but funny time~</p>
      </div>
      <div class="col-md-6">
        <img class="featurette-image img-fluid mx-auto"
          src="https://user-images.githubusercontent.com/52498280/105449007-2ab7d180-5cc3-11eb-84c4-7d522bc593a4.gif"
          alt="Kanye Quote API">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h3><a class="featurette-heading"
            href="https://github.com/Caspar-Cheng/Python-intermediate-projects-collection-2">Trivia Quizzer </a>
        </h3>
        <p class="lead">The usage of GUI combined with Trivia API to randomly generate 15 true or false question each
          time, correct result will show immediately after making the choice, scores are counted each round and showed
          at the end.
        </p>
      </div>
      <div class="col-md-6 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
          src="https://user-images.githubusercontent.com/52498280/105478904-88faa980-5cef-11eb-802a-1877c0cc489e.gif"
          alt="Trivia Quizzer">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h3><a class="featurette-heading"
            href="https://github.com/Caspar-Cheng/Python-intermediate-projects-collection-1">Password Manager</a></h3>
        <p class="lead">A password generator GUI window, will save the password as .svg format locally, user can find
          previous stored password and website through search button, information will be poped out as an alert
          window. Generated password is ready to be used and pasted instantly.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto"
          src="https://user-images.githubusercontent.com/52498280/105664839-5e903280-5f21-11eb-8bb5-0f70f8ba16d3.gif"
          alt="Password Manager">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3><a class="featurette-heading"
            href="https://github.com/Caspar-Cheng/Python-intermediate-projects-collection-1">Flash Card Learning</a>
        </h3>
        <p class="lead">A great method to learn between French and English card, card will flip to English meaning
          after one second. The word will be deleted after the user click ✅, user can learn unfamilar words every time
          restart the project. Original database will be used once there is no user record. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto"
          src="https://user-images.githubusercontent.com/52498280/105664841-5fc15f80-5f21-11eb-8e30-cbb162697761.gif"
          alt="Flash Card">
      </div>
    </div>


    <!-- /END THE FEATURETTES -->

    </div>


    <%- include("footer") -%>