body{
    background: url(../background.jpg) no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #5a5a5a;
}
.container-fluid{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* navbar */
.navbar-custom{
    background: url(../background.jpg) no-repeat;
    background-size: 100%;
}
.navbar-nav {
    flex-direction: row;
    margin: 2% 0 2% 5%;
    font-size: larger;
  }
.nav-item{
    margin: 0 20px 0 20px;
}
.nav-link{
    /* color:#352e2e; */
    font-weight: bold;
    background: linear-gradient(
    50deg,
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%,   
    #476098 66.666%, 
    #A7489B 83.333%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* greeting section*/
.greetingSection{
    margin: 0;
    padding: 0;
    width: 100%;
}
.greetingText{
    padding: 10% 0 10% 3%;
    text-align: center;
}
.greetingPic{
    padding:0;
    margin: 0;
    text-align: right;
    right: 0;
}
.profilePic1{
    height: 38rem;
    text-align: right;
    right: 0;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 5rem;
    background: linear-gradient(
    50deg,
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%,   
    #476098 66.666%, 
    #A7489B 83.333%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    font-size: 2.5rem;
    padding-top: 5%;
    color:#352e2e;
}

/* middle-container */
section{
    margin:0;
    padding:0;
    /* background-color: #ffffff; */
}
.middle-container{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.profilePic2{
    height: 10rem;
}
.hello-description{
    width: 35%;
    margin:15% auto 0 auto;
    /* color:#352e2e; */
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(
    50deg,
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%,   
    #476098 66.666%, 
    #A7489B 83.333%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.contactText{
    color:#352e2e;
    font-size: 1rem;
    font-weight: bold;
}

.contectBtn{
    margin-top: 6%;
    background: linear-gradient(to right, #b92b27,#1565C0);
}


/* bottom container */
.bottom-container {
    /* background-color: linear-gradient(to right, #dcecee,#19b6d1); */
    width:100%;
    margin: 0;
    padding:0;
    height: 100px;
}

.footer-link{
    color: #352e2e;
    font-size: larger;
    margin: 50px 50px 50px 50px;
    font-weight: bold;
}
  
.links{
    margin: 50px 0 0 0;
    padding-top: 25px;
    text-align: center;
}
  
.copy-right{
    color: #353836;
    margin: 0;
    margin-top: 4%;
    margin-bottom: 5%;
    text-align: center;
}

  /* Featurettes
------------------------- */

.featurette-divider {
    margin: 0; /* Space out the Bootstrap <hr> more */
    padding: 0;
}
  
  /* Thin out the marketing headings */
.featurette-heading {
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.05rem;
    color: #5a5a5a;
}
.featurette{
    text-align: center;
    align-items: center;
}
.lead{
    padding: 0 40px 0 40px;
    font-weight: 400;
    color: rgb(124, 119, 119);
}
  
.projectsSection{
    background-color: #F3F3F3;
}

.featurette-image{
    height: 400px;
    width: 400px;
}

a{
    color: #5a5a5a;
}





/* Contact page style */

.pb-100 {
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.mb-100 {
	margin-bottom: 100px;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #FF7200;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.contact {
	background-image: url("http://infinityflamesoft.com/html/abal-preview/assets/img/contact_back.jpg");
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
	position: relative;
	z-index: 2;
	color: #fff;
}
.contact-form input,
textarea {
	width: 100%;
	border: 1px solid #555;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-top: 15px;
	background-color: transparent;
	color: #fff;
}
.contact:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	z-index: -1;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.single-contact {
	text-align: left;
	position: relative;
	padding-left: 70px;
	margin-bottom: 50px;
	margin-top: 10px;
}
.single-contact i.fa {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-color: #FF7200;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
}
.single-contact h5 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}
.single-contact p {
	font-size: 15px;
	font-weight: 400;
}
.contact-form input[type="submit"] {
	background-color: #FF7200;
	border: 0px;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: .4s;
	transition: .4s
}
.contact-form input[type="submit"]:hover {
	background-color: #CC5B00
}
.contact-form input:focus, textarea:focus {
	border-color: #CC5B00
}



/* about page style */

.emp-profile{
    padding: 3%;
    margin-top: 10%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #F3F3F3;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}

.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}